#blogList{
    display: block;
    font-family: 'Mali', serif;
    font-size: 19px;
    line-height: 26px;
    margin-top:-165px;
}

.blogContainer{
    display: block;
    max-width: 98%;
    overflow:hidden;
}

.blogContainer div{
    padding-bottom: 20px;
    display: block;
}

@media only screen and (max-width: 800px){
    #blogList{
        font-size: 17px;
        line-height:20px;
    }
    .blogContainer div{
        padding-bottom: 15px;
    }
}