.textBox{
    background-color: white;
    margin-left: 371px;
    position: relative;
    border-radius: 3px;
    border: 1px solid darkgrey;
    margin-bottom: 46px;
    display:block;
    max-width:73%;
    min-width: 600px;
    margin-right:16px;
}

.date{
    font-size: 1.5rem;
    display:block;
    text-align:right;
}

.text{
    padding: 3%;
    pointer-events: none;
    display: block;
    width:94%;
}

p{
    display:block;
    width:100%;
    padding-bottom: 20px;
}

h1{
    display:inline-flex;
    width:80%;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px){
    .textBox{
      margin-left: 5%;
      max-width: 90%;
      margin-right: 5%;
      min-width: unset;
      margin-bottom: 20px;
    }

    .date{
        font-size: 1.15rem;
    }

    p{
        padding-bottom: 15px;
    }
    h1{
        font-size: 30px;
        font-weight: 600;
    }
}

@media only screen and (max-width:1116px){
    .textBox{
        pointer-events: none;
    }
}