.titleBanner div{
    content: "";
    background: url('../../images/arrow-1988452_1920.png') no-repeat;
    left:0;
    right:0;
    z-index: 3;
    margin-top:-324px;
    margin-left:350px;
    height:200px;
    padding-left: 9.5rem;
    position: relative;
    background-size: 490px;
    line-height: 10.75rem;
    color:yellow;
    font-family: 'Indie Flower',serif;
    font-size: 2.5rem;
    width:60%;
}

@media only screen and (max-width: 800px){
    .titleBanner div{
        margin-top: -308px;
        margin-left: 3%;
        padding-left:6rem;
        line-height:6.65rem;
        background-size: 300px;
        font-size:200%;
    }
}


/*
.titleBanner h1{
    content: "";
    background: url('../../images/arrow-1988452_1920.png') no-repeat;
    z-index: 3;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-top:215px;
    margin-left:350px;
    height:200px;
    padding-left: 9.5rem;
    position: absolute;
    background-size: 490px;
    line-height: 10.75rem;
    color:yellow;
    font-family: 'Indie Flower',serif;
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px){
    .titleBanner h1{
        margin-top: 95px;
        margin-left: 3%;
        padding-left:6rem;
        line-height:6.65rem;
        background-size: 300px;
        font-size:200%;
    }
}
*/