#projList{
    display: block;
    font-size: 21px;
    line-height: 30px;
    margin-top:-165px;  
    word-spacing: 0.1rem;  
}

.projectContainer{
    display: block;
    max-width: 98%;
    overflow:hidden;
}

.projectContainer div{
    padding-bottom: 20px;
    display: block;
}


@media only screen and (max-width: 800px){
    #projList{
        font-size: 18px;
        line-height: 25px;
        word-spacing: unset;
    }
    .projectContainer div{
        padding-bottom: 15px;
    }
}