#about{
    display: block;
    font-size: 21px;
    line-height: 30px;
    margin-top: -165px;
    word-spacing: 0.1rem;
}

.aboutContainer{
    display: block;
    max-width: 98%;
    overflow:hidden;
}

#cat{
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

.aboutContainer div{
    padding-bottom: 20px;
    display: block;
}

@media only screen and (max-width: 800px){
    #about{
        font-size: 18px;
        line-height: 25px;
        word-spacing: unset;
    }

    .aboutContainer div{
        padding-bottom: 15px;
    }
    
    #cat{
        width:80%;
        height:80%;
    }
}