.navBackground{
    background: rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    position: fixed;
    z-index:4;
  }

.navBar{
  width: 100%;
  display:flex;
}

.navBar li{
  display: inline-flex;
  font-family: 'Amatic SC', serif;
  text-align: left;
  font-weight: 500;
  font-size: 3em;
  color: #5ff;
  letter-spacing: 0.065em;
  width: 40%;
  margin-left: 12%;
  max-height:3em; 
  text-shadow:
  -1px -1px 0 pink,
  1px -1px 0 pink,
  -1px 1px 0 pink,
  1px 1px 0 pink;
}

li[id='About Me']{
  color: #66f;
  font-weight: 900;
  font-style: oblique;
}

@media only screen and (max-width: 800px){
  .navBar li{
    font-size: 2em;
    letter-spacing: 0.01em;
    margin-left: 10%;
  }
}

