#earlyRev1{
    display: inline-flex;
    width:49%;
    overflow: hidden;
}

#earlyRev2{
    display: inline-flex;
    width:49%;
    overflow: hidden;
    padding-left: 1%;
}

.logo{
    width:18%;
    display:inline-flex;
}