#sectionNavList{
    position: fixed;
    top:48px;
    display:block;
    width:30%;
    visibility: hidden;
}

#sectionButton{
    background-color:white;
    padding: 20px;
    width: 280px;
    min-width:50px;
    font-size: 20px;
    padding:0.5em 1.2em;
    padding-top: 0.7em;
    border-radius:2em;
    border: 2px solid white;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Varela Round',sans-serif;
    font-weight:900;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    margin-left: 40px;
    outline:none;
}

#sectionButton:hover {
    background-color:#4095c6;
    border: 3px solid black;
    transition: ease-in-out 0.25s;
    color:yellow;
}

@media only screen and (max-width: 800px){
    #sectionNavList{
        visibility:hidden;
        position:absolute;
    }
}

@media only screen and (max-width:1116px), (max-height: 500px){
    #sectionNavList{
        position:absolute;
    }
}




