html, body{
  height: 100%;
  padding:0; 
  margin:0;
  border-width:0px;
  font-size:16px;
  font-family: "Slabo 27px", serif;
}

body::after{
  content: "";
  background: url('./images/abstract-attractive-backdrop-988872.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -5;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 'cover';
  overflow:hidden;
}

div{
  display: flex;
  width:100%;
}

.banner{
  position: relative;
  background-image: url('./images/abstract-architecture-attractive-988873.jpg');
  background-size: 'cover';
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  height: 16rem;
  opacity: 0.65;
  width:100%;
}


.bannerContent{
  min-width: 1100px;
  text-align: center;
  font-size: 4.5rem;
  color:purple;
  padding-top: 4.5rem;
  font-weight: 900;
  font-family: 'Rock Salt';
  overflow: hidden;
  text-shadow:
  -1px -1px 0 black,
  3px -3px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}

#portrait {
  width: 280px;
  height: 280px;
  border-radius: 15%;
  border: 0.1rem solid magenta;
  z-index: 2;
  margin-left: 40px;
  position: relative;
  visibility: visible;
}

@media only screen and (max-width: 800px){
  #portrait{
    visibility: hidden;
  }

  .banner{
    height: 7rem;
  }

  .bannerContent{
    font-size: 1.75rem;
    padding-top: 2.7rem;
    min-width: unset;
    text-shadow:
    -0px -0px 0 black,
    1px -1px 0 black,
    -0px 0px 0 black,
    0px 0px 0 black;
  }
}